.banner {
  height: 100vh;
  width: 100%;
  background-color: rgb(86, 93, 100);
}


.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(53, 50, 50, 0.3);
  /* oscurece el fondo */
}

.gifBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Evita deformación */
  display: block;
}

html,
body {
  background-color: rgb(0, 0, 0);
}

.botones {
  position: absolute;
  top: 87%;
  /* Centrado vertical */
  left: 50px;
  /* Separación desde el borde izquierdo */
  transform: translateY(-40%);
  display: flex;
  flex-direction: row;
  /* Botones uno debajo del otro */
  gap: 20px;
  /* Espacio entre botones */
  z-index: 2;
  /* Asegura que estén por encima del GIF */
}

.btn i {
  font-size: 40px;
  color: #00e1ff;
  transition: all 0.4s ease;
}

.btn:hover i {
  color: #00a5f1d0;
  transform: scale(1.3);
}

.textLogo {
  color: rgb(233, 245, 255);
}

.link {
  text-decoration: none;
  color: rgb(13, 165, 192);
}

.link:hover {
  color: #480289d0;
}

.c1 {
  background-color: rgba(65, 230, 221, 0.699);
  width: 100%;
  height: 100%;
  padding: 100px;
}

.c2 {
  background-color: rgba(36, 42, 129, 0.699);
  width: 100%;
  height: 100%;
}